@charset "UTF-8";
/// Creates a grid column of requested size.
///
/// @group features
///
/// @name Grid column
///
/// @argument {number (unitless)} $columns [null]
///   Specifies the number of columns an element should span based on the total
///   columns of the grid.
///
///   This can also be defined in a shorthand syntaxt which also contains the
///   total column count such as `3 of 5`.
///
/// @argument {map} $grid [$neat-grid]
///   The grid to be used to generate the column.
///   By default, the global `$neat-grid` will be used.
///
/// @example scss
///   .element {
///     @include grid-column(3);
///   }
///
/// @example css
///   .element {
///     min-height: calc(25vw - 25px);
///     line-height: calc(25vw - 25px);
///     margin-top: 20px;
///   }

@mixin grid-column-height($mult: 1, $grid: $neat-grid) {
  $_grid-gutter: _retrieve-neat-setting($grid, gutter);

  min-height: calc(#{_neat-column-height($grid, 1*$mult)});
  line-height: calc(#{_neat-column-height($grid, 1*$mult)});
  // margin-#{_neat-perp-direction($grid)}: $_grid-gutter;
}
