@function _neat-column-align($grid, $columns, $offset: 0) {
  $_column-ratio: $columns / _retrieve-neat-setting($grid, columns);
  $_gutter: _retrieve-neat-setting($grid, gutter);

  @if $_gutter == 0 {
    @return unquote("#{percentage($_column-ratio)}");
  } @else {
    $_gutter-affordance: ($_gutter * $_column-ratio);
    @return unquote("#{percentage($_column-ratio)} + #{$_gutter-affordance} - #{$offset}px");
  }
}

@mixin grid-column-align-right($columns: null, $width: 0, $grid: $neat-grid) {
  $columns: _neat-column-default($grid, $columns);
  $_grid-columns: _retrieve-neat-setting($grid, columns);
  $_grid-gutter: _retrieve-neat-setting($grid, gutter);

  left: calc(#{_neat-column-align($grid, $columns, $width)});
}

@mixin grid-column-align-left($columns: null, $grid: $neat-grid) {
  $columns: _neat-column-default($grid, $columns);
  $_grid-columns: _retrieve-neat-setting($grid, columns);
  $_grid-gutter: _retrieve-neat-setting($grid, gutter);

  left: calc(#{_neat-column-align($grid, $columns)});
}
