!!!
%html{:lang => "en"}
  %head
    %meta{:content => "width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes", :name => "viewport"}/
    %meta{:content => "Stuart Tett | Product Designer", :name => "description"}/
    / build:css /stylesheets/main.min.css
    %link{:href => "../stylesheets/fonts.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "../stylesheets/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "../stylesheets/reset.css", :rel => "stylesheet", :type => "text/css"}/
    / endbuild
    %link{:href => "https://fonts.googleapis.com/css?family=BioRhyme:400,800", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes", :name => "viewport"}/
    %meta{:content => "Stuart Tett | Product Designer", :name => "description"}/
    %link{:href => "/manifest.json", :rel => "manifest"}/
    %script{:src => "../bower_components/webcomponentsjs/webcomponents-loader.js"}
    %link{:href => "../src/stuarttettdotcom-app/stuarttettdotcom-app.html", :rel => "import"}/
    %title Stuart Tett | Product Designer
    %meta{:content => "text/html; charset=US-ASCII", "http-equiv" => "content-type"}/
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-42078109-2"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-42078109-2');
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42078109-2', 'auto');
      ga('set', 'page', '/grid');
      ga('send', 'pageview');
  %body{:xmlns => "http://www.w3.org/1999/xhtml"}
    %stuarttettdotcom-app#app{:detail => "grid"}
    %section#contentDetails{:style => "display: none; visibility: hidden; min-height: 100vh;"}
      .progress-container.fade-in
        #progress-bar.progress-bar
      %figure.image.contain.fourSeventyTwo{"aria-label" => "", :role => "img", :style => "background-image: url(#{"/images/grid-home.jpg"})"}
      .one-col
        %h3 Grid allowed users to collaborate on spreadsheets full of video, images, and text in real-time.
        %p When I joined, the team had just released the first version of the app.
        %p It was a solid MVP, but their were some much needed improvements in the overall experience.
      .one-col
        %h3 There were some performance issues hindering the experience.
        %p The spreadsheet was an infinite canvas of tiles with no limitations on tiles, and images.
        %p Scrolling across the canvas wasn't buttery smooth and other animations were slow.
      %figure.image.contain{"aria-label" => "", :role => "img", :style => "background-image: url(#{"/images/grid-blank-canvas.jpg"})"}
      .one-col.col3
        %h3 Grid may be a spreadsheet, but it is meant to showcase multimedia in a beautiful way.
        %p We looked to the world of mobile gaming, where the rendering wasn't done with Apple's UIKit, but the lower-level OpenGL.
      .one-col
        %h3 I made a prototype in OpenGL, and the performance looked promising.
        %p We played around with the prototype and stress-tested it to see how it would operate under load.
      .one-col
      .one-col.col3
        %h3 We decided to convert the entire app to our new OpenGL engine.
        %p We were now getting a consistent 60fps. It felt so much more responsive in the hands of the user.
      .one-col
        %h3 But using OpenGL slowed down development.
        %p While the new user experience was superior, the conversion had some major engineering challenges. It was costly to rebuild standard UI components.
      %figure.image.contain{"aria-label" => "", :role => "img", :style => "background-image: url(#{"/images/grid-image-tiles.jpg"})"}

      / Backpack
      %img.squiggle{:src => "/images/wave-dull.svg"}/
      %figure.image.contain.fourSeventyTwo{"aria-label" => "", :role => "img", :style => "background-image: url(#{"/images/grid-backpack.gif"})"}
      .one-col
        %h3 The introduction of Backpack gave users a convenient way to drop content into the Grid.
        %p It connected with Photos, Dropbox, and Evernote. A simple drag and drop interface made it easy to create.
      .one-col
        %h3 But it took up so much screen real estate.
        %p It opens and closes by sliding in and out from the bottom.
      .one-col
      .one-col.col3
        %h3 We needed a fast, distraction-free way to remove it for object placement.
        %p I experimented with different animations, but landed on a quick fade out when a user drags an item out of Backpack.
        %p When they release their finger, it fades back in gently.
      .one-col
        %h3 When we tried it out in user testing, it proved effective.
        %p The user could easily grab images from the backpack and place it anywhere on the screen without being distracted by the disappearing Backpack.
      %blockquote.grid-span.italic
        %h4 Additional Credits: Josh Leong&#8212;Lead Designer
    %footer#footer.footer.fade-in
      %stt-scroll-btn.btn-bc.z3.invert{:onclick => "TweenLite.to(window, 1, {scrollTo:0});", :style => ""}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"}
    / build:js /scripts/main.min.js
    %script{:src => "../scripts/animation.gsap.min.js"}
    %script{:src => "../scripts/utils.js"}
    %script{:src => "../scripts/main.js"}
    / endbuild
    %script#detailsScript
      loadCaseAnimation();
