*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
  }
  @else {.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:focus {background-color: #f1f1f1}
  .dropdown-content a:hover {background-color: #f1f1f1}
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:focus {background-color: #f1f1f1}
  .dropdown-content a:hover {background-color: #f1f1f1}
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
}

$header-font: 'BioRhyme', serif;
$subheader-font: 'DecimaMonoRound-BoldItalic', monospace;
$body-font: DecimaMonoRound, monospace;
$system-font: -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$black: #100100;
$white: #f1f1f1;
$dark: #3F4A48;
$light: #E6E8EB;
$accent: #54F0CE;

body {
  font-family: $body-font;
  background: $light;
  @include font-smoothing(on);
  padding: 0;
  margin: 0;
  font-variant-ligatures: none;
  overscroll-behavior-y: none;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl,
dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4,
h5, h6, hgroup, html, i, iframe, img, ins, kbd, legend, li, mark,
menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span,
strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time,
tr, tt, u, ul, var, video {
  // margin: 0;
  padding: 0;
  border: 0;
  font-family: $body-font;
  vertical-align: baseline;
  font-variant-ligatures: none;
}

h1, h2, h3, h4, h5, h6, .header1, .header2 {
  font-family: $header-font;
  font-style: normal;
  font-weight: 800;
  margin: 0;
}

.z3 {
  z-index: 3;
}

/* For label shadow to be on top of content shadow */
.z2 {
  z-index: 2;
}

.z1 {
  z-index: 1;
}

.z0 {
  z-index: 0;
}

.image {
  background-repeat: no-repeat;
  background-position: center;

  -webkit-filter: drop-shadow(0px 5px 20px rgba(0,0,0,0.10));
  filter: drop-shadow(0px 5px 20px rgba(0,0,0,0.10));
}

.scatter-shapes:hover {
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0,Color='#59FFDB')";
  -webkit-filter: drop-shadow(0px 0px 10px #59FFDB);
  filter: drop-shadow(0px 0px 10px #59FFDB);
  background-color: black;
}

.scatter-shapes {
  display: block;
  position: absolute;
  -webkit-filter: drop-shadow(0);
  filter: drop-shadow(0);
  transition: all .5s ease-in-out;
  color: white;
}

.image.cover {
  background-size: cover;
}

.image.contain {
  background-size: contain;
}

$break-small: 375px;
$break-mobile: 660px;
$break-tablet: 968px;
$break-desktop-large: 1200px;

#contentDetails {
  margin: auto;
  display: grid;
  width: calc(100% - 60px);
  grid-gap: 30px;
  padding-bottom: 30px;
  overflow: visible;
  justify-items: center;
  position: relative;

  @media screen and (min-width: $break-tablet) {
    max-width: 1482px;
    width: calc(100% - 160px);
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-gap: 40px 40px;
    grid-auto-rows: minmax(50px, auto);
    padding-bottom: 80px;
  }

}

.shift {
  @media screen and (min-width: $break-tablet) {
    grid-column-end: -1;
    grid-column-start: span 2;
  }
}

#contentDetails > div:not(.overlap,.align-left) {
  place-self: center;
}

#contentDetails > * {
  will-change: transform;
}

.bold-italic {
  font-family: 'DecimaMonoRound-BoldItalic',monospace;
}

.emphasis {
  font-size: 26px;
  line-height: 1.25em;
  @media screen and (min-width: $break-mobile) {
    font-size: 36px;
  }
}

.italic {
  font-family: 'DecimaMonoRound-Italic',monospace;
}

.bold {
  font-family: 'DecimaMonoRound-Bold',monospace;
}

.normal {
  font-family: 'DecimaMonoRound',monospace;
}

.dark-on-light {
  background: linear-gradient(-180deg, #4E5251 4%, #3F4A48 98%);
  color: #ffffff;
  padding: 30px;
  @media screen and (min-width: $break-mobile) {
    padding: 80px;
  }
  & p {
    font-family: 'DecimaMonoRound-Italic',monospace;
    color: #ffffff;
  }
}

.buildup-blue {
  background-color: #275054;
}

.fourSeventyTwo {
  grid-column-end: span 4;
  min-height: 65vmin;
  width: 100%;

  @media screen and (min-width: $break-tablet) {
    grid-column-end: span 2;
    min-height: 472px;
  }
}

.row-span-2 {
  @media screen and (min-width: $break-tablet) {
    grid-row-end: span 2;
  }
}

.col-reset {
  // @media screen and (min-width: $break-mobile) {
    grid-column-start: 1;
  // }
}

.fourSeventyTwo1 {
  grid-column-end: span 2;
  min-height: 65vmin;
  width: 100%;

  @media screen and (min-width: $break-tablet) {
    grid-column-end: span 1;
    min-height: 472px;
  }
}

.fourSeventyTwo3 {
  grid-column-end: span 2;
  min-height: 65vmin;
  width: 100%;

  @media screen and (min-width: $break-tablet) {
    grid-column-end: span 3;
    min-height: 472px;
  }
}

.one-blank-column {
  @media screen and (min-width: $break-mobile) {
    grid-column-start: 2;
  }
}

.fourSeventyTwoX {
  min-height: 65vmin;
  width: 100%;
}

#contentDetails {
  font-family: 'DecimaMonoRound',monospace;
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: none;
  font-size: 16px;
  color: #3F4A48;
  text-align: left;
  line-height: 1.75em;
  background: $light;
  box-shadow: 0px 50px 50px 50px $light;

  @media screen and (min-width: $break-mobile) {
    font-size: 18px;
  }
}

#contentDetails p:not(:last-child) {
  padding-bottom: 26px;
}

#contentDetails div:not(.dark-on-light):not(:bold-italic) {
  & p {
    font-family: 'DecimaMonoRound',monospace;
  }
  color: inherit;
}

.footer {
  display: flex;
  padding: 40px;

  & > * {
    margin: auto;
  }
}

.kern {
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  letter-spacing: -5px;
}

.one-col {
  max-width: 650px;
  grid-column-end: span 4;
  @media screen and (min-width: $break-tablet) {
    grid-column-end: span 2;
    align-self: center;
  }
}

.short {
  width: 70%;
}

.one-col-dark {
  max-width: 700px;
  grid-column-end: span 4;
  @media screen and (min-width: $break-tablet) {
    grid-column-end: span 2;
  }
}

.two-col {
  max-width: 772px;
  grid-column-end: span 4;
  @media screen and (min-width: $break-tablet) {
    grid-column-end: span 2;
  }
}

.two-col-extra {
  max-width: 972px;
  grid-column-end: span 4;
  @media screen and (min-width: $break-tablet) {
    grid-column-end: span 2;
  }
}

.grid-span {
  grid-column: span 4;
}

.dark-list > li {
  margin: 40px 40px;
  font-weight: 800;

  font-size: 1.777em;
  line-height: 1.4em;
  font-family: $subheader-font;
}

.normal-list > li {
  list-style: disc;
  margin: 10px 40px;
  line-height: 1.4em;
  // font-family: $subheader-font;
}

.stackedImages {
  min-height: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.dark-list {
  // margin-bottom: 40px;
}

.buildup-light {
  background-color: #ffffff;
}

h1 span {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.gray {
  font-size: inherit;
  font-family: inherit;
  opacity: 0.1;
  mix-blend-mode: multiply;
  margin-left: -50px;
  transform: translateY(25px);
}

figure:not(.image) {
  display: table;
  & > img {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
    height: auto;
  }
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  padding: 10px;
  font-size: 14px;
  @media screen and (min-width: $break-mobile) {
    font-size: 18px;
    padding: 40px;
  }
}

.carousel {
  width: calc(100% - 60px);
  overflow: hidden;

  & ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
    & li {
      flex: 0 0 auto;
      max-width: 100%;
      min-width: 100%;
      min-height: 200px;
      & img {
        width: 100%;
      }
    }
  }

  .fade-in {
    opacity: 0;
    transform: scaleX(0);
  }

  $progress-height: 4px;

  /* The progress container (grey background) */
  .progress-container {
    transform-origin: left top;
    transition: all 0.5s ease;
    width: 100%;
    background: $white;
    height: 2px;

    @media screen and (min-width: $break-mobile) {
      height: $progress-height;
    }

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 100%;
    background: $accent;
    width: 0%;
  }

  @keyframes swapImage {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

.overlap {
  place-self: stretch;
  position: relative;

  & figure {
    -webkit-filter: drop-shadow(0px 10px 20px rgba(0,0,0,0.15));
    filter: drop-shadow(0px 10px 20px rgba(0,0,0,0.15));
    transition: z-index 1s ease;
  }

  & > .still2 {
    position: absolute;
  }

  & > .box1 {

  }

  & > .box2 {
    animation: swapImage 10s ease -2s infinite normal forwards running;
    top: 10px;
    left: 10px;
    position: absolute;
  }

  & > .box3 {
    animation: swapImage 10s ease -5s infinite normal forwards running;
    top: 20px;
    left: 20px;
    position: absolute;
  }

}

img.squiggle {
  grid-column-start: 1;
  grid-column-end: -1;
  align-self: start;
  place-self: start;
  width: 38vw;
  max-width: 800px;
  transform: translateX(-40px);
  opacity: 0.9;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

h1.special {
  -webkit-user-select: none;
  user-select: none;
  font-size: 4em;
  opacity: 0.1;
  mix-blend-mode: multiply;
  line-height: 0.6;
  padding: 0;
  margin: 0;

  @media screen and (min-width: $break-small) {
    font-size: calc(4em + 4 * ((100vw - $break-small) / 825));
  }

  @media screen and (min-width: $break-desktop-large) {
    font-size: 8em;
  }

  &:first-child {
    color: #5cefce;
    opacity: 0.9;
  }

  &:nth-child(2) {
    transform: translateX(20px);
  }
}

div.special {
  min-width: 1px;
  grid-column-end: span 4;

  @media screen and (min-width: $break-mobile) {
      min-height: 80px;
  }
}

h1.special + h3 {
  padding-top: 1em;
}

h1 + p, h2 + p, h3 + p, h4 + p {
  padding-right: 5em;
}

h1, h2, h3, h4 {
  margin-bottom: 0.75em;
}

h1 {
  text-transform: uppercase;
  font-size: 3.157em;
  line-height: 1.25em;
}

h2 {
  font-size: 2.369em;
  line-height: 1.25em;
  font-family: $subheader-font;
}

h3 {
  font-size: 1.777em;
  line-height: 1.4em;
  font-family: $subheader-font;
}

h4 {
  font-size: 1.333em;
  line-height: 1.5em;
  font-family: $subheader-font;
}

small, .font_small {font-size: 0.75em;}

.align-left {
  justify-self: start;
  place-self: start;
  align-self: start;
}

.holder {
  /* Clip edges, as some of the lines don't terminate nicely. */
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 50px;
}
