@import "shadows";
@import "bourbon/bourbon";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
  }
  @else {.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:focus {background-color: #f1f1f1}
  .dropdown-content a:hover {background-color: #f1f1f1}
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:focus {background-color: #f1f1f1}
  .dropdown-content a:hover {background-color: #f1f1f1}
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
}

$header-font: 'BioRhyme', serif;
$body-font: DecimaMonoRound-Italic,'Space Mono', monospace;
$system-font: -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$black: #100100;
$white: #f1f1f1;
$dark: #3F4A48;
$light: #DCDEE0;
$accent: #54F0CE;

body {
  font-family: $body-font;
  background-color: $light;
  @include font-smoothing(on);
  padding: 0;
  margin: 0;
  font-variant-ligatures: none;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl,
dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4,
h5, h6, hgroup, html, i, iframe, img, ins, kbd, legend, li, mark,
menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span,
strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time,
tr, tt, u, ul, var, video {
  // margin: 0;
  padding: 0;
  border: 0;
  font-family: $body-font;
  vertical-align: baseline;
  font-variant-ligatures: none;
}

h1, h2, h3, h4, h5, h6, .header1, .header2 {
  font-family: $header-font;
  font-style: normal;
  font-weight: 800;
  margin: 0;
}

.image {
  background-repeat: no-repeat;
  background-position: center;

  -webkit-filter: drop-shadow(0px 10px 20px #b2b2b2);
  filter: drop-shadow(0px 10px 20px #b2b2b2);
}

.image.cover {
  background-size: cover;
}

.image.contain {
  background-size: contain;
}

$break-mobile: 660px;
$break-desktop-large: 1200px;

#contentDetails {
  margin: auto;
  display: grid;
  width: calc(100% - 60px);
  grid-gap: 30px;
  padding-bottom: 30px;
  overflow: visible;

  @media screen and (min-width: $break-mobile) {
    max-width: 1482px;
    width: calc(100% - 160px);
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 80px 40px;
    padding-bottom: 80px;
  }

}

#contentDetails > div {
  justify-self: center;
  align-self: center;
}

#contentDetails > * {
  will-change: transform;
}

.bold-italic {
  font-family: 'DecimaMonoRound-BoldItalic','Space Mono',mono;
}

.emphasis {
  font-size: 26px;
  line-height: 1.25em;
  @media screen and (min-width: $break-mobile) {
    font-size: 36px;
  }
}

.italic {
  font-family: 'DecimaMonoRound-Italic','Space Mono',mono;
}

.bold {
  font-family: 'DecimaMonoRound-Bold','Space Mono',mono;
}

.normal {
  font-family: 'DecimaMonoRound','Space Mono',mono;
}

.dark-on-light {
  background-color: #3F4A48;
  color: #f3f3f3;
  padding: 30px;
  @media screen and (min-width: $break-mobile) {
    padding: 80px;
  }
  & p {
    font-family: 'DecimaMonoRound-Italic','Space Mono',mono;
    color: #f3f3f3;
  }
}

.buildup-blue {
  background-color: #275054;
}

.fourSeventyTwo {
  min-height: 65vmin;
  width: 100%;

  @media screen and (min-width: $break-mobile) {
    min-height: 472px;
  }
}

.fourSeventyTwoX {
  min-height: 65vmin;
  width: 100%;
}

#contentDetails {
  font-family: 'DecimaMonoRound','Space Mono',mono;
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: none;
  font-size: 16px;
  color: #3F4A48;
  text-align: left;
  line-height: 1.75em;
  background-color: #DCDEE0;

  @media screen and (min-width: $break-mobile) {
    font-size: 26px;
  }
}

#contentDetails p:not(:last-child) {
  padding-bottom: 26px;
}

#contentDetails div:not(.dark-on-light) {
  & p {
    font-family: 'DecimaMonoRound','Space Mono',mono;
  }
  color: inherit;
}

.kern {
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  letter-spacing: -5px;
}

.one-col {
  max-width: 650px;
}

.one-col-dark {
  max-width: 700px;
}

.two-col {
  max-width: 772px;
}

.two-col-extra {
  max-width: 972px;
}

.grid-span {
  grid-column: 1 / -1;
}

.dark-list > li {
  list-style: disc;
  margin: 10px 40px;
}

.dark-list {
  // margin-bottom: 40px;
}

.buildup-light {
  background-color: #f3f3f3;
}

figure:not(.image) {
  display: table;
  & > img {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
    height: auto;
  }
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  padding: 10px;
  font-size: 14px;
  @media screen and (min-width: $break-mobile) {
    font-size: 24px;
    padding: 40px;
  }
}

.carousel {
  width: calc(100% - 60px);
  overflow: hidden;

  & ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
    & li {
      flex: 0 0 auto;
      max-width: 100%;
      min-width: 100%;
      min-height: 200px;
      & img {
        width: 100%;
      }
    }
  }
