!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Page Not Found
    %style{:media => "screen"}
    /build:css /stylesheets/main.min.css
    %link{:href => "./stylesheets/fonts.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "./stylesheets/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "./stylesheets/reset.css", :rel => "stylesheet", :type => "text/css"}/
    /endbuild
    %link{:href => "https://fonts.googleapis.com/css?family=Arimo|Open+Sans:400,600", :rel => "stylesheet"}/
    %link{:href => "/manifest.json", :rel => "manifest"}/
    %script{:src => "./bower_components/webcomponentsjs/webcomponents-loader.js"}
    %link{:href => "./src/stuarttettdotcom-app/stuarttettdotcom-app.html", :rel => "import"}/
    %title Stuart Tett | Interaction Designer
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-42078109-2"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-42078109-2');
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42078109-2', 'auto');
      ga('set', 'page', '/souschef');
      ga('send', 'pageview');
  %body{:xmlns => "http://www.w3.org/1999/xhtml"}
    #message
      .one-col.col-reset.align-left
        %h1.special Error
        %h1.special 404
        %img.squiggle{:src => "/images/wave.svg"}/
      %h3 We can't find the page you're looking for.
      %p
        The specified file was not found on this website. Please check the URL for mistakes and try again or contact
        %a{:href => 'mailto:hello@stuarttett.com'} hello@stuarttett.com
      %h4
        %a{:href => './index.html'} Go Home
