$system-font: -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$black: #100100;
$white: #FFFBFA;

body {
  font-family: $system-font;
  user-select: none;
  background-color: $white;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl,
dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4,
h5, h6, hgroup, html, i, iframe, img, ins, kbd, legend, li, mark,
menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span,
strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time,
tr, tt, u, ul, var, video {
    // margin: 0;
    padding: 0;
    border: 0;
    font-family: $system-font;
    vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $system-font;
  margin: 0;
}

h1 {
  font-weight: 800;
  background-color: inherit;
  color: $black;
  font-size: 72pt;
  line-height: 45pt;
  letter-spacing: 9px;
}

h2 {
  font-weight: 300;
  background-color: inherit;
  color: $black;
  font-size: 48pt;
  letter-spacing: 3px;
  margin-left: 3px;
}

svg {
  -o-object-fit: contain;
  object-fit: contain;
  width: 200px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

a {
  position: relative;
  background-color: inherit;
  color: $black;
  text-decoration: none;
  font-weight: bold;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5pt;
    bottom: -6pt;
    left: 0;
    color: $white;
    background-color: $white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
  }

  &:hover {
    color: $white;
    background-color: inherit;
  }

  &:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  &:active {
    color: $white;
    background-color: inherit;
  }

  &:active::before {
    color: $white;
    background-color: inherit;
    visibility: visible;
    transform: scaleX(1);
  }
}

.top {
  align-self: center;
  display: flex;
  flex-flow: row wrap;
}

#content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: calc(100% - 50pt);
  border: 5pt solid black;
  margin: 10pt;
  padding: 10pt;
}

.sidebar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
  list-style: none;
  margin: 0;
  padding: 5pt;
  width: 570px;
  border: 5pt solid $black;
  background-color: $black;
  color: $white;

  & > li {
    flex-basis: auto;
    margin: auto;
    color: $white;

    & > a {
      color: $white;
      font-weight: 800;
      letter-spacing: 1pt;
    }
  }
}

.entry-content {
  display: block;
  font-size: 14pt;
  line-height: 150%;
  font-weight: 100;
  width: 570px;
  text-align: justify;
  margin: 10pt;

  & > p {
    margin: 1.5em;
  }
}

.animatedElement {
  opacity: 0;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn {
  opacity: 1;
}
